@import url(_variables.css);

* {
    font-family: 'Varela', sans-serif;
}

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px;
    text-transform: uppercase;
    padding: 1.5rem;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}